/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: "Nova Square";
  src: url("/fonts/Nova_Square/NovaSquare.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

main, footer, a.email {
  color: #080808;
}
main, footer {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  color: #8C0200;
}
a:hover {
  color: #FF1C19;
  text-decoration: underline;
}

header, h2, h1 {
  font-family: "Nova Square", serif;
}
header h1 {
  font-size: 2.5em;
  letter-spacing: 0.16em;
  margin-bottom: 0.25em;
  color: #D80200;
}
header h1 a {
  color: #D80200;
}
header p {
  margin-top: 0;
}

h2 {
  letter-spacing: 0.1em;
  color: slategray;
  margin: 0.5em 0;
}

blockquote {
  font-style: italic;
  border-left: solid 2px gray;
  background-color: ghostwhite;
  padding-left: 8px;
}

#links {
  list-style: none;
}

#links li {
  margin: 0.3em auto;
}

#projects ul {
  list-style: none;
}
#projects > p {
    padding-left: 40px; /* Keep aligned with list items as per normalize.css */
}
/* Have descriptions next to links */
#projects li p {
    margin-top: 4px;
    font-size: 0.95em;
}
#projects .lang {
    font-family: monospace;
}
#projects .ymd, #projects .lang {
    font-size: 0.9em;
}
#projects hr {
  --hr-rot: 0deg;
  border: none;
  height: 1px;
  background-color: #8f8f8f;
  margin: 0 40px;
  margin-bottom: 20px;
}
#projects hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--hr-rot));
  transform-origin: 50% 50%;
  padding: 0.65rem;
  font-size: 0.9em;
  background-color: white;
}

section#default {
  margin: 0 auto;
  width: 400px;
}

section#post {
  margin-left: 300px;
  width: 600px;
}

section#post code {
  font-size: 0.8em;
}

section#post ul {
  margin: 0em;
}

footer {
  valign: bottom;
  color: silver;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  margin-top: 1.8em;
}
footer a {
  color: salmon;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
